.tile {
    width: 50px;
    height: 50px;
    border: 2px solid;
}

.grid {
    display: grid;
    grid-template: repeat(16, 50px) / repeat(30, 50px);
}

.bomb {
    background-color: red;
}

.hidden {
    background-color: greenyellow;
}

.reveal {
    background-color: lightblue;
}