body {
    font-size: 100%;
}

.tile {
    border: 1px solid white;
    width: 3vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
    font-size: 2em;
}

.grid {
    display: grid;
    width: 90%;
    height: 48vw;
    grid-template: repeat(16, 1fr) / repeat(30, 1fr);
}

.bomb {
    background-color: red;
}

.hidden {
    background-color: greenyellow;
}

.reveal {
    background-color: lightblue;
}

.flag {
    background-color: black;
}